.bannerbg1{
	color:black;
	text-align:center;
}
.content1{
	padding-top:5%;
}
.nav{
	margin-top:3%;
	margin-left:55%;
}
.nav a{
	padding:4%;
	font-family:Franklin Gothic Heavy !important;
	color:black;
}
.nav a:hover{
	color:#888888;
	cursor:pointer;
}
h1{
	font-size:500%;
	font-family:Franklin Gothic Heavy !important;
	text-transform:uppercase;
	text-align:center;
}
.line{
	margin-left:400px;
}
p{
	text-align:center;
	font-size:150%;
	line-height:150%;
	margin-bottom:10%;
	font-family:Franklin Gothic Book !important;
	color:#554024;
}
.icon img{
	width:60%;
}
.icon h2{
	font-size:170%;
	margin-top:10%;
	margin-bottom:15%;
	font-family:Franklin Gothic Heavy !important;
}
.icon p{
	font-size:16px;
	font-family:Franklin Gothic Book !important;
}



.bannerbg2{
	background-image: url(../images/banner5.jpg);
	background-position:right;
	background-size:cover;
}
.pic{
	text-align:left;
}
.pic h2{
	margin-top:5%;
	text-transform:uppercase;
	font-family:Franklin Gothic Heavy !important;
}
.pic p{
	text-align:left;
	font-size:120%;
	line-height:100%;
}
.pic a:hover{
	color:chocolate;
	cursor:pointer;
}
.toggle{
		  width:10%;
		  float:right;
		  cursor:pointer;
		  display:none;
	  }
	  .dot-menu{
		  width:50%;
		  height:auto;
		  background-color:transparent;
		  margin:auto;
		  display:none;
	  }
	  .dot-menu a{
		  height:10%;
		  display:block;
		  text-decoration:none;
		  text-align:center;
		  color:black;
		  line-height:40px;
	  }
	  .dot-menu a:hover{
		  background-color:transparent;
	  }
.footer11{
	background-color:#503e36;
	height:80px;
	color:white;
}
.logo img{
	width:40%;
}
.images{
	margin-left: 0%;
}
.copy{
	margin-top:1.5%;
}

@media(max-width:425px){
	.toggle{
		display:block;
		
	}
	.nav{
		display:none;
	}
	h1{
	    font-size:400%;
		padding-top:10%;
    }
	.line{
		margin-left:110px;
		width:200% !important;
	}
	p{
	    font-size:120%;
	    line-height:150%;
	    margin-bottom:10%;
	}
	.icon{
		width:100% !important;
	}
	.icon p{
		margin-top:-15% !important;
	}
	.pic{
		width:100% !important;
	}
	.footer11{
		height: 130px;
	}
	.copy{
	font-size: 50%;
	margin-top:10%;
	}
}